/* * usado para alterar todos os componentes do html
* {
    border: 2px solid red;
}
*/

body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    background-color: #F2EDED;
    border: 1px double #ccc;
    text-align: center;
    margin-top: 10px;
}

figcaption {
    font-style: italic;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    
    /*altera o fluxo da imagem, por defaul eh baseline*/
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    /*float usa-se para liberar espaco na tela*/
    float: right;
    margin: 0 0 10px 10px;
    /*float: left;
    margin: 0 30px 10px 0;*/
}